export REPO_ENV=lab
export PROJECT_NAME=fpuna-bigdata-lab
export REPO_ROOT=/opt/repo/${PROJECT_NAME}
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
export POSTGRES_DBNAME=bigdata_lab
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_DBINIT=${REPO_ROOT}/database/postgresql/ddl/db_init.sql
export DUCKDB_PATH=./data/duckdb/bigdata_lab.duckdb
export AIRFLOW_HOME=/opt/airflow/airflow_3.1.8
export PENTAHO_HOME=/opt/pentaho/data-integration
export RAW_DIR=${REPO_ROOT}/data/raw
export STG_DIR=${REPO_ROOT}/data/staged